<div  mat-dialog-title>
    <h1>2023 Course Partner call</h1>
</div>
<div mat-dialog-content>
    <table>
        <thead>
            <tr>
                <th>Name:</th>
                <th>Email:</th>
                <th>Phone:</th>
                <th>SkypeID:</th>
                <th>WhatsApp ID:</th>
                <th>Timezone</th>
                <th>Country</th>
                <th>Best Times</th>
                <th>Prefered method</th>
                <th>Forum</th>
                <th>Listener</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.Name}}</td>
                <td>{{item.Email}}</td>
                <td>{{item.Phone}}</td>
                <td>{{item.SkypeID}}</td>
                <td>{{item.WhatsAppID}}</td>
                <td>{{item.Timezone}}</td>
                <td>{{item.Country}}</td>
                <td>{{item.BestTime}}</td>
                <td>{{item.Preferedmethod}}</td>
                <td>{{item.Forum}}</td>
                <td>{{item.Listener}}</td>
            </tr>
        </tbody>
    </table>
    <h1>Schedule Notes</h1>
    <div class="row">
        <label for=""><h1>Date of Conversation</h1></label>
        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </div>
    <label for=""><h1>Minutes</h1></label>
    <input type="text" name="name" placeholder="Number of minutes" size="10" />
    
    <label for=""><h1>1.What has this course been about for you? What did you get enrolled in when you registered?</h1></label>
    <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="" value="">
    </mat-form-field>
    <label for=""><h1>1.What has this course been about for you? What did you get enrolled in when you registered?</h1></label>
    <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="" value="">
    </mat-form-field>
    <label for=""><h1>2.What have you seen about that so far?</h1></label>
    <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="" value="">
    </mat-form-field>
    <label for=""><h1>3.What [else] do you want to say about what a openned up for you since the course started?</h1></label>
    <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="" value="">
    </mat-form-field>
    <label for=""><h1>4.What relationships did you choose to focus on for the duration of this course?</h1></label>
    <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="" value="">
    </mat-form-field>

    
</div>
<div mat-dialog-action>
    <button mat-raised-button color="success">Save</button>
    <button mat-raised-button color="warn">Cancel</button>
    <button mat-raised-button color="primary">Edit</button>
</div>