    <div  mat-dialog-title class="form-container">
        <h1>2023 Course Partner call</h1>
        <h1 style="color:red">Note: This form auto saves every 30 seconds</h1>
    </div> 
    <form [formGroup]="callRecordForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="form-container">  
        <label for="name">Name:
            <input matInput type="text" id="name" name="name"  formControlName="minutes" />  
        </label>
        <label for="email">Email:
            <input matInput type="text" id="email" name="email"  formControlName="email" />  
        </label>
        <label for="skypeid">SkypeID:
            <input matInput type="text" id="skypeid" name="skypeid"  formControlName="skypeId" />  
        </label>
        <label for="phone">Phone:
            <input matInput type="text" id="phone" name="phone"  formControlName="phone" />  
        </label>
        <label for="WhatsAppID">WhatsApp ID:
            <input matInput type="text" id="WhatsAppID" name="WhatsAppID"  formControlName="WhatsAppID" />  
        </label>
        <label for="timezone">Timezone:
            <input matInput type="text" id="timezone" name="timezone"  formControlName="timezone" />  
        </label>
        <label for="country">Country:
            <input matInput type="text" id="country" name="country"  formControlName="country" />  
        </label>
        <label for="besttimes">Best Times:
            <input matInput type="text" id="besttimes" name="nabesttimesme"  formControlName="bestTimes" />  
        </label>
        <label for="Preferedmethod">Prefered method:
            <input matInput type="text" id="Preferedmethod" name="Preferedmethod"  formControlName="preferedMethod" />  
        </label>
        <label for="forum">Forum:
            <input matInput type="text" id="forum" name="forum"  formControlName="forum" />  
        </label>
        <label for="listener">Listener:
            <input matInput type="text" id="listener" name="listener"  formControlName="listener" />  
        </label>
        
        <mat-form-field  style="width: 30%;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
            
        <label for="minutes">Minutes:
            <input  type="number" id="minutes" name="minutes" rows="2" cols="100" formControlName="minutes" />  
        </label>         
            
            <!-- <form>
                <label for="message">Your Message:</label>
                <textarea id="message" name="message" rows="4" cols="50"></textarea>
            </form> -->
            <!-- <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="" value="" formControlName="minutes">
            </mat-form-field>   -->
        <label for="questionone">What did you get enrolled in when you registered?</label>
        <textarea   id="questionone" name="questionone" rows="2" cols="33" formControlName="questionOne"> </textarea>
        <label for="questiontwo">What has this course been about for you? What did you get enrolled in when you registered?</label>
        <textarea  id="questiontwo" name="questiontwo" rows="2" cols="33" formControlName="questionTwo"></textarea>
        <label for="questionthree">What have you seen about that so far?</label>
        <textarea  id="questionthree" name="questionthree" rows="2" cols="33" formControlName="questionThree"></textarea>
        <label for="questionfour">What [else] do you want to say about what a openned up for you since the course started?</label>
        <textarea  id="questionfour" name="questionfour" rows="2" cols="33" formControlName="questionFour"></textarea>
        <label for="questionfive">What relationships did you choose to focus on for the duration of this course?</label>
        <textarea  id="questionfive" name="questionfive" rows="2" cols="33" formControlName="questionFive"></textarea>
        <label for="questionsix">Is there anything else I can provide or do for you at this point ?</label>
        <textarea  id="questionsix" name="questionsix" rows="2" cols="33" formControlName="questionSix"></textarea>
        <label for="questionseven" >Is there anything you would like Tobin, Owen and Sarasai know?[What was spoken in thier words!]</label>
        <textarea  id="questionseven" name="questionseven" rows="2" cols="33" formControlName="questionSeven"></textarea>
        <label for="questioneight">Course Partner comments[What did you learn or see about being  a listener? Anything else?, What do you want Tobin, Owen and Sarasai to know about the conversation]</label>
        <textarea  id="questioneight" name="questioneight" rows="2" cols="33" formControlName="questionEight"></textarea>    
        
    </div>
    <div mat-dialog-action class="form-container">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary">Edit</button>
    </div>
    </form>
    
    
