
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <!-- <mat-icon>supervised_user_circle</mat-icon> -->
    <img src="assets/logo.png" alt="Icon" />
  </button>
  <span>Wisdom Course</span>
  <span class="example-spacer"></span>
    <!-- <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button>
    <button mat-raised-button color="primary" (click)="openWeek()">Weekend Report</button> -->
    <button mat-raised-button color=""  routerLink="/login">LogOut</button> 
    <span class="material-icons">person</span>
    <!-- <button mat-raised-button color="primary" *ngFor="let username of users" value=[username]>{{username}}</button>  -->
    <span class="material-icons">Messages</span>
    <h1 *ngFor="let username of users" value=[username]>{{username}}</h1>      
    <button mat-raised-button color="accent" >DCRR2024</button>
    
    

</mat-toolbar>
<p *ngFor="let username of users">Welcome back {{username}}!</p>

<div class="row">
  <div class="column">
    <h1>Edit Survey/Course</h1>
    <div class="mycontainer">
      <div>
        <h1><a routerLink="/weekendReport">Edit the weekly report</a></h1>
        <p>Here you will find information regarding the course weekely report</p>
      </div>  
          <!-- role="list" *ngFor="let survey of Surveys" value=[survey] -->
      <div >
        <h1><a routerLink="/weekendReport">Edit the weekend report</a></h1> 
        <p>Here you will find information regarding the course weekend report</p> 
      </div>
      <div >
        <h1><a routerLink="/weekendReport">Edit the Course</a></h1> 
        <p>Here you will find information regarding how to edit the course</p>  
      </div>   
  </div>
  
</div>
  <div class="column">  
    <h1> Upcoming events</h1>
    <!-- <mat-list role="list" *ngFor="let relations of Relationships" value=[relations]>       
      <mat-list-item role="listitem">{{relations}}</mat-list-item>  
    </mat-list> -->
    
  </div>
</div>
<!--SecondRow-->
<div class="row">
  <div class="column">
    
    <div class="mycontainer">
      <div>
        <p routerLink="/managerelationships">Manage Course Partner/Participants</p> 
        <button color="primary" routerLink="/">View</button>
      </div> 
      <div >                 
        <p>Charts</p>
        <img src="assets/chartnew.png" alt="Icon" />
      </div>
        
  </div>
  
</div>
<div class="column">  
  <h1>Additional Links</h1>
  <mat-list role="list" >
    <!-- *ngFor="let links of Links" value=[links]   -->
    <mat-list-item role="listitem"><a routerLink="">links</a></mat-list-item>     
     
  </mat-list>
</div>
</div>
<!--ThirdRow-->
<div class="row">
  <div class="column">
      
      <h1>Files</h1>
      <mat-list role="list" >
        <!-- *ngFor="let file of Files" value=[file]   -->
        <mat-list-item role="listitem"><a routerLink="">file</a></mat-list-item>     
         
      </mat-list>
    
</div>
  <div class="column">  
    <h1>TBD</h1>
    
  </div>
</div>

 
