
<body>
    <h1>Current Course Participants/ Partners</h1>
    
<div >
    
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Second Name</th>
                <th>Contact</th>
                <th>Role</th>
                <th>Assigned Course Partner</th>
                <th>Call scheduled</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let people of People" value="people">
                <td>{{people.firstName}}</td>
                <td>{{people.lastName}}</td>
                <td>{{people.Contact}}</td>
                <td>{{people.Role}}</td>
                <td>{{people.AssignedCoursePartner}}</td>
                <td>{{people.Callscheduled}}</td>
                <td>{{people.Status}}</td>
                <td><button mat-raised-button color="primary" type="submit">Edit</button></td>

            </tr>
            
        </tbody>
    </table>     
</div>
<div><br>
    <button mat-raised-button color="accent" type="submit" routerLink="/">Add</button>
    <button mat-raised-button color="primary" routerLink="/adminpage">Back</button>
    <!-- <button mat-raised-button color="primary" type="submit">Save</button> -->
    <!-- <button mat-raised-button color="primary">Edit</button> -->
</div>


</body>
    