
<div mat-dialog-title>
    <h1>Current Course Partiipants/ Partners</h1>

</div>
<div mat-dialog-content>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Second Name</th>
                <th>Contact</th>
                <th>Role</th>
                <th>Assigned Course Partner</th>
                <th>Active</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            
        </tbody>
    </table>     
</div>
<div mat-dialog-actions>
    
</div>
