<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm"  (ngSubmit)="onSubmit($event)">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" formControlName="username">
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" formControlName="password" >
  
      <div class="example-button-row">
        <!-- <button mat-raised-button type="submit">Login</button> -->
        <button mat-raised-button color="accent" type="submit"><a routerLink="/homepage">Login</a></button>
        <button mat-raised-button color="primary"><a routerLink="/signIn">SignIn</a></button>
        
        
      </div>
    </form>
  </div>
  
