<div class="login-container">
    <h2>Login</h2>
    <form >
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" >
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" >
  
      <div class="example-button-row">
        <button mat-raised-button type="submit">Login</button>
        <button mat-raised-button color="accent" type="submit">Login</button>
        <button mat-raised-button color="primary" type="submit">SignIn</button>
        
        
      </div>
    </form>
  </div>
  
