
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Wisdom Course</span>
    <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button>
      <button mat-raised-button color="primary" (click)="openWeek()">Weekend Report</button>
      <button mat-raised-button color="accent" (click)="openCallRecord()">Make a call</button>
      <button mat-raised-button color="primary" (click)="login()">login</button>
      <button mat-raised-button color="accent" (click)="signOut()"></button>

  </mat-toolbar>
  <!-- Displaying a string -->
<h1> Participants </h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Timezone</th>
      <th>Prefered method</th>
      <th>Schdueled Time</th>
      <th>Cancelled</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
          <button mat-raised-button color="primary">Edit</button>
        </td>
      </tr>
    </tbody>
</table>









    
  