
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Wisdom Course</span>
    <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button>
      <button mat-raised-button color="primary" (click)="openWeek()">Weekend Report</button>
      <button mat-raised-button color="accent" (click)="openCallRecord()">Make a call</button>

  </mat-toolbar>



    
  