<h1>Manage Your Relationships</h1>

<button mat-raised-button color="primary" routerLink="/homepage">Home</button><br>
<br>
<p>To add a relationship, click <b>Add Relationship</b></p>
<p>To update the name of a relationship, click <b>Edit</b> on their line</p>

<h1>Current Relationships(max 20)</h1>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Relationship For</th>
        <th>Active</th>
        <th>Order</th>
        <th>Edit</th>
        <th>Action</th>
        <th>Remove</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button mat-raised-button color="primary" type="submit">Edit</button></td>
          <td><button mat-raised-button color="primary" mat-dialog-close>Mark inactive</button></td>
          <td><button mat-raised-button color="warn">Remove</button></td>
          
        </tr>
      </tbody>
  </table> 

  <button mat-raised-button color="primary" routerLink="/">Add Relationship</button>
<br><br><br>
  <button mat-raised-button color="primary" routerLink="/">Do this Week's survey</button>