.example-spacer {
    flex: 1 1 auto;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 1; /* This makes each column take up equal space within the row */
    margin: 10px; /* Add margin for spacing between columns */
    padding: 10px; /* Add padding for content within each column */
    border: 1px solid #ddd; /* Optional: Add a border for visual separation */
  }
  .column:first-child {
    flex: 2; /* Adjust the flex value for the first column to make it twice as wide */
  }
  .column1 {
    flex: 1; /* This makes each column take up equal space within the row */
    margin: 10px; /* Add margin for spacing between columns */
    padding: 10px; /* Add padding for content within each column */
    border: 1px solid #ddd; /* Optional: Add a border for visual separation */
  }
  .column1:first-child {
    flex: 2; /* Adjust the flex value for the first column to make it twice as wide */
  }
  .mycontainer {
    display: flex;
  }
  .mycontainer > div {
    width:33%;
  }