
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Wisdom Course</span>
    <span class="example-spacer"></span>
      <!-- <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button>
      <button mat-raised-button color="primary" (click)="openWeek()">Weekend Report</button>
      <button mat-raised-button color="accent" (click)="openCallRecord()">Make a call</button> -->
      <button mat-raised-button color="primary" (click)="login()">login</button> 
      <button mat-raised-button color="accent" >SignOut</button>

  </mat-toolbar>

  <div class="row">
    <div class="column">
      <h1>Up coming weekends</h1>
      <div class="mycontainer">
        <div>
          <h1><a href="#">New Survey</a></h1>
        </div>  
      <mat-list role="list" *ngFor="let survey of Surveys" value=[survey]>
        <div style="padding: 10px;">
          <h2>{{survey}}</h2>  
          <p>London is the capital city of England.</p>
          <p>London has over 13 million inhabitants.</p>
        </div>
      </mat-list>      
    </div>
    
  </div>
  <div class="column">  
    <h1>Relationships</h1>
    <mat-list role="list" *ngFor="let relations of Relationships" value=[relations]>       
      <mat-list-item role="listitem">{{relations}}</mat-list-item>  
    </mat-list>
  </div>
  </div>
  <!--SecondRow-->
  <div class="row">
    <div class="column">
      <h1>Weekly Surveys</h1>
      <div class="mycontainer">
        <div>
          <h1><a href="#">New Survey</a></h1>
        </div>  
      <mat-list role="list" *ngFor="let survey of Surveys" value=[survey]>
        <div style="padding: 10px;">
          <h2>{{survey}}</h2>  
          <p>London is the capital city of England.</p>
          <p>London has over 13 million inhabitants.</p>
        </div>
      </mat-list>      
    </div>
    
  </div>
  <div class="column">  
    <h1>Additional Links</h1>
    <mat-list role="list" *ngFor="let links of Links" value=[links]>  
      <mat-list-item role="listitem"><a href="#">{{links}}</a></mat-list-item>     
       
    </mat-list>
  </div>
  </div>
  <!--ThirdRow-->
  
   
  